{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">

      <div class="py2">
	    <article class="post-content">
	      {{ .Content }}
	    </article>
		<form action="https://formspree.io/{{ .Site.Author.email }}" method="POST" class="form-stacked form-light">
		    <input type="text" name="email" class="input mobile-block" placeholder="Tu email...">
		    <textarea type="text" name="content" class="input mobile-block" rows="5" placeholder="...y el texto."></textarea>
		    <input type="submit" class="button button-blue button-big mobile-block" value="Enviar-me">
		  </form>
		</div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
